<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <style>
      table {
        margin: auto;
        width: 50%;
      }
      th,
      td {
        background-color: #a187c4;
        padding: 10px;
        margin: auto;
      }
      input {
        margin-right: 10px;
      }

      select {
        margin-right: 10px;
      }
    </style>
  </head>

  <body>
    <% if(cart.length >= 1) { %>
    <h2>Cart:</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Ordered Quantity</th>
          <th>Options</th>
        </tr>
      </thead>
      <% cart.forEach((item) => { %>
      <tbody>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.type %></td>
          <td><%= item.CartItem.quantity %></td>
        </tr>
        <% })%> <% } else {%>
        <h2>NO PRODUCTS!</h2>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
